@model IEnumerable<ViaroAPP.Models.alumn>

@{
    ViewBag.Title = "Listar";
}

<h2>Lista de Alumnos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre:
        </th>
        <th>
            Apellido:
        </th>
        <th>
            Genero:
        </th>
        <th>
            Fecha de Nacimiento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bith_date)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_alumn }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_alumn }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_alumn })
        </td>
    </tr>
}

</table>
