@model ViaroAPP.Models.course_alumn

@{
    ViewBag.Title = "Create";
}

<h2>Crear Nuevo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Asignaciones</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2"> Alumno: </label>
            <div class="col-md-10">
                @Html.DropDownList("id_alumn", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_alumn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Curso / Grado: </label>
            <div class="col-md-10">
                @Html.DropDownList("id_course", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_course, "", new { @class = "text-danger" })
                <!----<p> curso impartido por: <span id="profesor"> </span>  </p>-->
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Seccion: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.section, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.section, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
<script>
    document.getElementById("profesor").innerHTML = '@ViaroAPP.Controllers.course_alumnController.getTeacher(Int32.Parse("1"))'
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
